#footer {
    display: flex;
        height: 50px;

    .btn {
        flex: 1;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #74b9ff;
        color: #dfe6e9;
    }
}